* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    list-style-type: none;
}
.main-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: rgb(237, 236, 236);
    color: rgb(41, 39, 39);
}
.dashboard-menu {
    background-color: rgb(26, 171, 243);
    color: rgb(245, 251, 255);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
    padding: 20px;
}
.admin-bar, .project-tile, .project-title, .side-content-tile {
    background-color: rgb(245, 251, 255);
}
.project-info, .announcement-content, .usertag {
    color: rgb(153, 149, 149);
}
.admin-bar {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}
.projects {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 9;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.side-panel {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 9;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
}
.project-tile {
    width: 30%;
    height: auto;
    flex: 1 1 auto;
    
}
.projects > h1 {
    width: 100%;
}
.side-headline, .side-content-tile {
    width: 100%;
}
.project-tile, .side-content-tile {
    border-radius: 5px;
    box-shadow: 1px 2px 3px 1px rgb(153, 149, 149);
    padding: 20px;
}
.announcements {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(153, 149, 149);
}
.last-announcement {
    border: none;
    margin: 0;
}
